* {
margin: 5px;
padding: 5px;
box-sizing: border-box;
font-family: 'sans-serif';
}

.header {
    text-align: center;
    background: rgb(156,246,246);
    background: radial-gradient(circle, rgba(156,246,246,1) 6%, rgba(247,238,221,1) 100%);
    color: #131111;
    padding: 18px 0;
    font-style: italic;
    font-size: 1.75rem;
    font-weight: 900;
    width: 100%;
  }

  body {
    background: #EEF8FC;
  }

  #weather {
    background: #9cf6f6;
    display: flex;
    gap: 35px;
    padding: 30px;
  }

.search {
    display: flex;
    align-items: center; 
    gap: 8px;
}
#search-city {
    margin-right: auto;
    display: flex;
    gap: 8px;
    text-align: center;
}

#searchHistory {
    margin-right: auto;
    display: flex;
    gap: 8px;
}
  #search-btn {
    background: #605F5E;
    color: #fcf3f3;
    font-size: 1.25rem;
    font-weight: 900;
    border: none;
    cursor: pointer;
    margin-right: auto;
  }

  .location-btn {
    background: #605F5E;
    color: #fcf7f7;
    font-size: 1.25rem;
    font-weight: 900;
    border: none;
    cursor: pointer;
    margin-right: auto;
  }

  @media (max-width: 800px) {
    #weather {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      align-items: center;
    }
  
    Adjust styles for child elements if needed */
    #weather > * {
      width: 100%; /* Make child elements take full width */
    }
}